.nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-style: solid;
    border-width: 2px;
  }
  
  .logo{
      height: 50px;
  }
  
  .text1{
    font-size: 20px;
    color: #4E2A84;
    border-color: black;
    width: 33%;
    text-align: center;
  }
  
  .button1{
    font-size: 14px;
    height: 30px;
    width: 50%;
    border: 2px solid #4E2A84;
    background-color: white;
  }
  
  .text2{
    margin-top: 10px;
    margin-right: 5%;
    font-size: 12px;
    background-color: #E9E1EC;
    height: 20px;
    width: 70%;
    text-align: center;
    padding-top: 7px
  }
  
  .organizer{
    display: flex;
    margin-bottom: 15px;
  }
  
  .title1{
    padding-top: 10px;
    font-size: 15px;
    width: 25%;
    color: #4E2A84;
    border-color: black;
    border-bottom: solid;
    text-align: center;
  }
  
  .container1{
    height: 400px;
    display: grid;
    margin-left: 10px;
    grid-template-rows: 40px;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1%;
  }
  
  .profile{
    font-size: 15px;
  }
  
  .verysmallimg{
    width: 9px; 
    height: auto;
  }
  
  .text4{
    font-size: 10px;
  }
  
  .filters{
    padding-top: 50px;
    height: 250px;
    background-color:#E9E1EC;
    font-size: 12px;
  }
  
  .button3{
    margin-top: 15px;
    font-size: 14px;
    height: 30px;
    width: 100%;
    border: 2px solid #4E2A84;
    background-color: white;
  }
  
  .footer{
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    border-top-style: solid;
    border-width: 2px;
    gap: 10px;
  }
  
  .button2{
    font-size: 20px;
    color: #4E2A84;
    border: none;
    background: none;
    width: 25%;
    text-align: center;
  }
  
  .smallimg{
     width: 15px; 
     height: auto;
  }
  
  .text3{
    font-size: 13px;
  }
  
  .centerimg{
    width: 15px; 
    height: auto;
    margin: auto;  
    display: block;
  }
  
  .img{
    width: 100%;
    margin-top: 10px;
  }
  
  * {
    font-family: Verdana;
  }
  
  